body {
 background-color: black;
 text-align: center;
}

h1, h3, h4, p {
  font-family: Verdana;
   color: white;
 }

.headline h1 {
  color: white;
  font-size: 50px;
}

#cta {
  font-family: Verdana;
  color: aquamarine;
  font-size: 16px;
}

.travel_guide h3 {
  font-weight: 300;
  font-size: 42px;
}

.travel_guide p {
  font-size: 21px;
  color: gray;
}

.camp {
  background-image: url(../images/camp.jpg);
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
}

.phone_icon {
  background-image: url("../images/phone.png");
  height: 130px;
  background-position: center;
  background-repeat: no-repeat;
}

#footer {
  color: gray;
  font-size: 14px;
  text-align: right;
}
