/* HMW make all items centered? */

html {
 background-color: black;
 text-align: center;
}

 h1, h2, h3, h4, p {
   font-family: Verdana;
   color: white;
 }

.headline h1 {
  color: white;
  font-size: 50px;
}

#cta {
  color: aquamarine;
  font-size: 16px;
  text-decoration: underline;
}

.demo {
  background-image: url("../videos/excursion.mp4");
}

.travelguide h3 {
  font-weight: 300;
  font-size: 42px;
}

.description p {
  font-size: 21px;
  color: gray;
}

#tent {
  background-image: url("../resources/images/tent.jpg");
}

.phoneicon {
  background-image: url("../images/phone.png");
}

#footer {
  color: gray;
  font-size: 14px;
  text-align: right;
}
